/* ======= */
/* MY PAGE  */
/* ======= */

.dashboard {
  padding: 1em;
  margin: 1em;

  .dashboard-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 0.5em;
      color: var(--white);
    }

    p {
      font-size: 1rem;
      margin-bottom: 0.25em;
      color: #5e6c84;
    }

    .dashboard-articles-count {
      color: #6b7c93;
    }

    .dashboard-likes-count {
      color: #c576db;
    }

    .dashboard-sentiment-score {
      color: #fe8a4d;
    }
  }

  .dashboard-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;

    th {
      color: var(--dark-grey);
      text-align: center;
      font-weight: normal;
      font-size: 1rem;
      padding: 0.25em 0;
      border-bottom: 1px solid var(--dark-grey);

      &:first-child {
        width: 50%;
      }
    }

    td {
      padding: 0.25em 0;
      font-size: 0.8rem;
      border-bottom: 1px solid var(--dark-grey);

      button {
        padding: 0.25em 0.5em;
        font-size: 0.8rem;
      }

      &:nth-child(2) {
        width: 20%;
        text-align: center;
      }

      &:nth-child(3),
      &:nth-child(4) {
        width: 15%;
        text-align: center;
        button {
          font-size: 1rem;
          border-radius: 3px;
          border: none;
          padding: 0.5em 0.9em;
          color: var(--white);
          background-color: var(--pastel-olive);
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 0.5em 0;
          border-bottom: 1px solid var(--dark-grey);
          font-size: 1rem;
          color: var(--dark-grey);
          &:first-child {
            font-weight: bold;
          }
          &:last-child {
            button {
              border-radius: 3px;
              padding: 0.5em 0.4em;
              margin-left: 0.3em;
              border: none;
              background-color: var(--pastel-eggshell);
              color: var(--black);
              font-size: 1rem;
              cursor: pointer;
              &:hover {
                background-color: var(--lighter-green);
              }
            }
          }
        }
        &:hover {
          background-color: var(--white);
        }
      }
    }
  }

  .dashboard-new-article-button {
    display: block;
    margin: 1rem auto 0;
    padding: 0.5em 1em;
    font-size: 1rem;
    background-color: var(--white-green);
    color: var(--black);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.dashboard-new-article-button:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 1rem var(--tone-shadow);
}

.new-article-form {
  padding: 1em;
  color: var(--dark-grey);
  font-weight: bold;
  .form-group {
    margin-bottom: 1em;

    label {
      display: block;
      font-size: 1rem;
      margin-bottom: 0.5em;
    }

    input[type="text"],
    input[type="file"],
    textarea {
      width: 100%;
      font-size: 1rem;
      padding: 0.5em;
      border: 1px solid var(--light-grey);
      border-radius: 5px;

      &:focus {
        outline: none;
        border-color: var(--lighter-green);
      }
    }

    textarea {
      resize: vertical;
      min-height: 5em;
      height: fit-content;
      max-height: 15em;
    }
  }

  button[type="submit"] {
    display: block;
    margin: 1em auto 0;
    padding: 0.6em 2em;
    font-size: 1.1rem;
    background-color: var(--dark-green);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.5rem 1rem var(--tone-shadow);
  }
}
